.title__network__item{
    display: flex;
    padding-top: 2.5rem;
    padding-left: 3rem;
}

.title__network__item a{
    text-decoration: none;
}

.title__network__item a:hover{
    color: beige;
    background-color: var(--hover);
}